@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color: black;
    color: white;
}
body{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }